*
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.clearfix
{
    clear: both;
}
.container
{
    width: 1200px;
    margin: 0 auto;
}
header p span
{
    color: #24baa0;
}
header
{
     text-transform: uppercase;
     background-color: black;
     width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 5px;
}
 header p
 {
     margin-top: 6px;
     margin-left: 50px;
     float: left;
     color: white;

 }
 ul
 {
     list-style: none;
 }
 li
 {
     float: right;
     margin-top: 6px;
     margin-right: 50px;
 }

a:link,a:visited
{

    text-decoration: none;
    color: white;
}
.blackchair
{
    float: left;
    width: 50%;
}
.loremParagraphAndButton
{
    float: left;
    width: 30%;
    margin-top: 80px;
    height: 200px;
    text-align: center;
}
.loremButton>h1
{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;


}
.sectionGrad
{
    height: 500px;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 55%, rgba(212,212,212,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 55%, rgba(212,212,212,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 55%, rgba(212,212,212,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 55%, rgba(212,212,212,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 55%, rgba(212,212,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4', GradientType=0 );
}
h1 span
{
    color: #24baa0;
}
.loremParag
{
    font-size: 15px;
}
.mainButton
{
    margin-top: 50px;
    width: 250px;
    height: 70px;
    border: none;
    text-transform: uppercase;
    border-radius: 1em 1em 1em 1em;
    background-color: #24baa0;
    color: white;
    font-size: 25px;
}
.imgbox
{
    float: left;
    width: 32%;
    margin-top: 20px;
    margin-right: 20px;
}
.comment
{
    float: left;
    border: 1px solid lightgray;
    text-align: center;
    width: 32%;
    height: 262px;
    margin-top: 20px;
    font-size: 14px;
    padding: 10px;
}
.comment p
{
    margin-top: 20px;
}

.greybox
{
    margin-top: 70px;
    width: 100%;
    height: 600px;
    background-color: lightgray;
}

.Bplan
{
    width: 25%;
    height: 450px;
    margin: 50px;
    border: 2px solid gray;
    float: left;
}
.circleTop
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:gray;
    border: 10px solid white;
    box-shadow: 0 0 0 2px gray;
    position: relative;
    left: 135px;
    bottom: 30px;
}
.Bphader
{
    text-transform: uppercase;
    text-align: center;
    color: #24baa0;
    font-size: 20px;
}
.circleMiddle
{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    color: darkgray;
    margin: 20px auto;
}
.Bplan .circleMiddle p:first-child
{
    padding-top: 20px;
}
.pplan1
{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: gray;
    color: darkgray;
    text-align: center;
}
.pplan2{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: white;
    color: darkgray;
    text-align: center;
}
.pbutton1
{
    margin: 110px 20px 122px 122px;
    width: 70px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    border-radius: 1em 1em 1em 1em;
    background-color: #24baa0;
    color: white;
}
.pbuttonlast
{
    margin: 30px 30px 122px 122px;
    width: 70px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    border-radius: 1em 1em 1em 1em;
    background-color: #24baa0;
    color: white;
}
/*middle plan styles*/

.BplanColor
{
    width: 25%;
    height: 450px;
    margin: 50px;
    border: 2px #24baa0;
    float: left;
    background-color: #24baa0;
}
.circleTopColor
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:white;
    border: 10px solid #24baa0;
    box-shadow: 0 0 0 2px #24baa0;
    position: relative;
    left: 135px;
    bottom: 30px;
}
.BphaderColor
{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 20px;
}
.circleMiddleColor
{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: white;
    border: 1px #24baa0;
    text-align: center;
    color: #24baa0;
    margin: 20px auto;
}
.BplanColor .circleMiddleColor p:first-child
{
    padding-top: 20px;
}
.pplan1Color
{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: white;
    color: darkgray;
    text-align: center;
    border-right: 2px solid #24baa0;
    border-left: 2px solid #24baa0;
}
.pplan2Color
{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: lightgray;
    color: darkgray;
    text-align: center;
    border-right: 2px solid #24baa0;
    border-left: 2px solid #24baa0;
}
.pbutton1Color
{
    margin: 70px 20px 122px 122px;
    width: 70px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    border-radius: 1em 1em 1em 1em;
    background-color: white;
    color: #24baa0;
}


/*still need to style other plan types...*/
form h1
{
    text-transform: uppercase;
    font-size: 22px;
    color: darkgray;
    margin: 25px 0;
}
form {

    min-height: 500px;
    width: 65%;
    float: left;
}
form input[type="text"],[type="email"]
{
    display: block;
    height: 50px;
    width: 750px;
    margin-bottom: 20px;
    border: 1px solid #24baa0;
    padding: 20px;
    font-size: 23px;
}
textarea
{
    display: block;
    padding: 20px;
    width: 750px;
    margin-bottom: 20px;
    border: 1px solid #24baa0;
    font-size: 23px;
}
footer
{}
.formDiv
{
    float: left;
    width: 34%;
}
.redChairdiv
{
    width: 100%;
}

.redChair
{
   margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;

}
.ok{
    float: left;

    box-shadow: 0 0 0 1px #24baa0;
}
.okP
{
    float: left;
    font-size: 14px;
    padding: 10px;

    color: gray;
}
.formDiv .mainButton
{
    margin-left: 80px;
    margin-top: 40px;
}
footer
{
    width: 100%;
    heigth: 200px;
}
footer > p
{
    float: left;
    color: gray;
    font-size: 15px;
    width: 50%;
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
}
.social
{
    float: right;
    width: 50%;
}
.social img
{
   float: left;
    margin-right: 5px;
}
.social img:first-child
{
    margin-left: 285px;
}

.social p
{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: gray;
    text-transform: uppercase;

}

